#login-form-button {
  margin-left: auto;
  padding: 8px 8px;
  background-color: var(--red);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

#login-form-button:hover {
  background-color: var(--pink);
  color: var(--dark-blue);
  transition: 0.8s;
}

.dialog {
  position: relative;
  background-color: var(--light-gray);
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  border-radius: 8px;
  z-index: 22;
}

.auth-dialog-content {
  display: flex;
  flex-direction: column;
}

.auth-form-title {
  display: flex;
  justify-content: center;
}

.auth-form-item {
  margin-bottom: 8px;
  font-size: 14px;
}

.auth-form-input {
  margin-bottom: 8px;
  height: 40px;
  padding: 0px 12px;
  border-color: var(--dark-blue);
  border-width: 1px;
  font-size: 16px;
}

#forgot-password {
  margin: 0px;
  font-size: 12px;
}

#auth-submit-button {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  margin-top: 32px;
  height: 40px;
  width: 100%;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
}

#swap-auth {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 8px;
  font-size: 14px;
}
