

.delete-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-button-submit {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  margin: 20px;
  height: 40px;
  width: 100px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
} 

#yes-button {
    background-color: var(--red);
}
