

nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 20px;
}

.links {
    color: var(--light-gray);
    text-decoration: none;
    margin: 10px;
}

