.question-container {
  display: flex;
  background-color: var(--light-blue);
  margin: 4px 0px;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.1rem;
}

.mult-choice-statement-container {
  display: flex;
  align-items: center;
  margin: 0px;
}

.mult-choice-statement {
  margin: 0px 2px;
}

.mult-choice-option-container {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.mult-choice-option {
  margin: 0;
  padding-left: 2px;
}

.selected-option {
  border: 2px solid var(--dark-blue);
  border-radius: 4px;
  padding-right: 4px;
}

.multiple-choice-option-input {
  flex: 1;
  height: 28px;
  padding: 0px 12px;
  border-color: var(--dark-blue);
  border-width: 1px;
  font-size: 16px;
}

.filling-question-buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 12px 0px;
}

.filling-question-button {
  height: 32px;
  width: 100px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
}

.form-text-statement {
  border: 0;
  border-bottom: 1px solid var(--dark-blue);
  height: 20px;
  width: fit-content;
}

.form-fill-statement {
  border: 1px solid var(--dark-blue);
  height: 20px;
  width: fit-content;
}

.form-select-statement {
  height: 20px;
}

.fill-statement-input {
  height: 12px;
}

.select-answer {
  background-color: var(--dark-blue);
  color: var(--light-gray);
}

.switch {
  background-color: var(--light-blue);
  height: 22px;
  width: 42px;
  border-radius: 9999px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0px;
  border: none;
}

.switch.active {
  background-color: var(--dark-blue);
}

.switch-ball {
  margin: 0px;
  transform: translateX(0.14rem);
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 9999px;
  background-color: var(--light-gray);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.switch-ball.active {
  transform: translateX(1.4rem);
}
