.lesson-preview-container {
  position: relative;
}

.lesson-preview-container:first-child {
  border-radius: 4px 4px 0 0;
}

.lesson-preview-container:last-child {
  border-radius: 0 0 4px 4px;
}

.lesson-preview {
  display: flex;
  align-items: center;
  background-color: var(--light-blue);
}

.lesson-preview:hover {
  background-color: var(--pink);
  transition: 0.8s;
}

#yt-icon {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.actions-container {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  align-items: center;
}

#resume-lesson-button {
  height: 28px;
  background-color: var(--light-gray);
  color: var(--dark-blue);
  border: solid var(--dark-blue) 1px;
  border-radius: 4px;
}

#more-options-icon {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

.lesson-preview-dropdown {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
  background-color: var(--light-gray);
  width: fit-content;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
}

.lesson-preview-dropdown-button {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.lesson-preview-dropdown-icon {
  height: 30px;
  width: 30px;
}

.lesson-preview-dropdown-item:hover {
  transition: 0.5s;
  background-color: var(--pink);
}

.lesson-dialog-trigger {
  cursor: pointer;
  padding: 4px;
}

.lesson-dialog-trigger:first-child {
  border-radius: 4px 4px 0 0;
}

.lesson-dialog-trigger:last-child {
  border-radius: 0 0 4px 4px;
}

.dialog-trigger:hover {
  transition: 0.7s;
  background-color: var(--red);
}
