.lesson-preview-container {
  position: relative;
}

.lesson-preview {
  display: flex;
  align-items: center;
  background-color: cadetblue;
}

.lesson-preview:hover {
  background-color: cornflowerblue;
  transition: 0.8s;
}

#yt-icon {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.actions-container {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  align-items: center;
}

#resume-lesson-button {
  height: 28px;
}

#more-options-icon {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

.lesson-preview-dropdown {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
  background-color: antiquewhite;
  width: 120px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
}

.lesson-preview-dropdown-button {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.lesson-preview-dropdown-icon {
  height: 30px;
  width: 30px;
}

.lesson-preview-dropdown-item:hover {
  transition: 0.5s;
  background-color: cornflowerblue;
}
