.lesson-container {
  margin: 5px 20px;
}

@media (min-width: 970px) {
  .lesson-container {
    width: 930px;
    margin: auto;
  }
}

.lesson-title-container {
  display: flex;
  align-items: center;
}

.change-lesson-buttons {
  margin-left: auto;
  display: flex;
  gap: 20px;
  font-size: 3rem;
}

.change-lesson-icon:hover {
  color: var(--pink);
  transition: 0.8s;
}

.lesson-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.lesson-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.lesson-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.lesson-tab button.active {
  background-color: #ccc;
}
