
.recent-activity-container {
    margin: 20px;
}

.course-progress-container {
    background-color:var(--light-blue);
    border: 1px solid gray;
    padding: 6px 12px;
    margin: 2px 0;
    border-radius: 4px;
}

.course-progress-container > h3 {
    margin: 0px;
}

.course-progress-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.progress-bar {
    position: relative;
    background-color:var(--light-gray);
    height: 8px;
    border-radius: 4px;
}

.current-progress {
    position: absolute;
    background-color: darkgreen;
    height: 8px;
    border-radius: 4px;
}

#resume-button { 
    margin-left: auto;
    height: 32px;
    background-color: var(--dark-blue);
    color:var(--light-gray);
    border: none;
    border-radius: 4px;
}
