.course-container {
  margin-left: auto;
  margin-right: auto;
  width: 84%;
}

.course-rate-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#rate-course-button {
  height: 32px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
}

.rate-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate-button-submit {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  margin: 10px;
  height: 40px;
  width: 120px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
}

#enroll-button {
  height: 32px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
}