.courses-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.my-courses-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

@media (min-width: 1000px) {
  .courses-container {
    width: 960px;
    margin: auto;
  }

  .my-courses-container {
    width: 960px;
    margin: auto;
  }
}

.course-container {
  padding: 0px 10% 4px;
  max-width: 1000px;
}

.course-rate-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

#rate-course-button {
  height: 32px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
}

#rate-course-button:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  transition: 0.4s;
}

.rate-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate-button-submit {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  margin: 10px;
  height: 40px;
  width: 120px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
}

#enroll-button {
  height: 32px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
}
