.profile-item {
  margin-bottom: 8px;
  font-size: 18px;
}

#view-profile-button {
  margin-left: auto;
  padding: 8px 6px;
  background-color: var(--red);
  color: var(--light-gray);
  border: none;
  border-radius: 4px;
}
